/* 사용자 정보 조회 페이지 */

.modal-overlay{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: initial;
    z-index: 500;
}

.box{
    overflow: hidden;
    border-radius: 12px;
    width: 770px;
    text-align: center;
    background: #eeeeee;;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* 좌측 회색 메뉴*/
.menu {
    background: #e1e0e1;
    width: 20%;
    min-width: 220px;
    height: 800px;
    float: left;
}

/*메뉴 User Settings*/
.menu-title {
    width: 85%;
    color: #6b7280;
    font-size: 12px;
    text-align: left;
    margin: 10px 20px;
}

/*메뉴 My Account*/
.menu-content{
    background: #a7a7a7;
    width: 85%;
    font-size: 16px;
    height: 28px;
    text-align: left;
    margin: 10px 20px;
    border-radius: 5px;
    padding: 4px;
}

.menu-logout{
    width: 85%;
    color: #A4232C;
    font-size: 16px;
    border-bottom: 1px solid #a7a7a7;
    border-top: 1px solid #a7a7a7;
    padding: 4px;
    margin: 10px 20px;
    cursor: pointer;
    text-align: left;
}

.menu-logout > img{
    float: right;
    margin-right: 10px;
}

/* 헤더, 좌측메뉴 제외한 흰 부분*/
.myAccount-background {
    width: 60%;
    min-width: 500px;
    float: left;
    margin-left: 50px;
    background: #eeeeee;
}

/* 맨 위 헤드라인 부분 */
.myAccount-headline {
    width: 60%;
    min-width: 400px;
    overflow: hidden;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    border-bottom: #777777;
    padding: 10px 30px;
}

/* 제목 - my account */
.myAccount-headline > h2 {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}

/* my account 우측 닫기 버튼*/
.myAccount-headline > a {
    border: #ee2349;
    max-width: 40px;
    height: 100%;
    text-decoration: none;
    float: right;
    margin-top: 20px;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 회원정보 박스 컨테이너 */
.myAccount-container {
    background: #23272a;
    width: 60%;
    min-width: 400px;
    border-radius: 18px;
    padding: 40px 30px;
    text-align: center;
    margin-bottom: 15px;
}

/* 회원정보 박스 상단 프로필사진, modify 버튼 든 박스 */
.myAccount-container-head {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

/* 프로필사진*/
.profile-image {
    display: inline-block;
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: white;
}

/* 프로필사진*/
.profile-image-img {
    display: inline-block;
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: white;
}

/* modify 버튼*/
.modify-btn {
    background: #97b82d;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 20px;
    font-size: 14px;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
    float: right;
}

/* 회원정보 표시되는 흰 박스*/
.myAccount-container-under {
    width: 95%;
    border-radius: 18px;
    background: white;
    margin-top: 15px;
    padding: 5px 10px;
}

.inner-title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;

}

.inner-content {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* 비밀번호 바꾸기 및 회원탈퇴 박스 */
.myAccount-container-small {

}

/*비밀번호 바꾸기*/
.pw-change-btn{
    width: 30%;
    background: #8aa82b;
    color: white;
    padding: 6px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

/*회원 탈퇴 버튼*/
.account-delete-btn {
    width: 15%;
    background: #ee2349;
    color: white;
    padding: 6px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

