/* 캘린더 페이지 */

.background {
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rbc-calendar {
    padding: 20px;
    width: 90%;
}

/*월,년 (June 2025)*/
.rbc-toolbar-label{
    font-weight: bold;
    font-size: 30px;
}

/*달력 가장 바깥 테두리*/
.rbc-month-view{
    margin-top: 20px;
    border-radius: 5px;
}

/*Month, week, day, agenda 중 선택된 버튼 색깔*/
.rbc-active {
    background-color: #8aa82b;
    color: #cccccc;
}

.rbc-show-more {
    color: #8aa82b;
}

.rbc-allday-cell {
    /*display: none;*/
}

.rbc-time-content{
    display: none;
}

/*일정 */
/*.rbc-event {*/
/*    border: 1px solid white !important;*/
/*    !*border-radius: 5px !important;*!*/
/*    background-color: #8aa82b !important;*/
/*    !*opacity: 0.1;*!*/
/*    border-radius: 0;*/
/*}*/

/*오늘 날짜 테두리*/
.rbc-today {
    background: #ffffff;
    opacity: 0.3;
    box-shadow: 0 0 0 8px #a7cf1c inset;
}