<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MOIM</title>

    <link rel="icon" th:href="@{/img/favicon.ico}"/>

    <link th:href="@{/bundle/css/header.css}" rel="stylesheet" />


    <link th:href="@{'/bundle/css/' + ${pageName} + '.css'}" rel="stylesheet" onerror="this.remove()"/>
</head>
<body>
<div id="header-root"></div>

<div id="root"></div>

<script type="module" th:src="@{'/bundle/js/' + ${pageName} + '.bundle.js'}"></script>

<script th:inline="javascript">
    window.addEventListener('load', () => {
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
                .then(registration => {
                    console.log('✅ Service Worker 등록 성공! 범위:', registration.scope);
                })
                .catch(error => {
                    console.error('❌ Service Worker 등록 실패:', error);
                });
        }
    });
</script>
</body>
</html>