<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOIM</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/bundle/css/signup.css" />
    <link rel="stylesheet" href="/bundle/css/signupSuccessModal.css" />
</head>
<body>
    <div id="root"></div>
    <script type="module" src="/bundle/js/signup.bundle.js"></script>
    
</body>
</html>