.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal_box {
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* modal_title */
.modal_title_area{width: 100%; position: relative; display: flex;flex-direction: column; align-items: center; margin-bottom: 10px;}

.modal_title{font-size: 25px;font-weight: 500;}
.close_btn{position: absolute; right: 0;background:none; border: none;width: 30px;height: 30px;cursor: pointer;}
.close_btn img{width: 100%; height: 100%;}


.modal_form{width: 100%;height: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 10px;}


/* input_area */
.modal_input_area{width: 100%; height: 100px;}
.modal_input_box{width: 100%;border-radius: 10px;border: 2px solid #c3ee41; display: flex; justify-content: center;margin-top: 10px;}
.modal_input{width: 90%; height: 40px; margin: 0 auto;  border: none;}
.modal_input:focus{outline: none;}

/* upload_area */
.modal_upload_area{width: 100%;display: flex; justify-content: center;}
.upload_label{border-radius: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100px; height: 100px;overflow: hidden;position: relative;}
.upload_label>img{width: 100px; height: 100px;}
/* .upload_img{width: 100%;height: 100%;max-width: 100%;max-height: 100%;object-fit: contain; display: block;} */
[alt="upload_icon"]{width: 100px;height: 100px;border-radius: 100%; cursor: pointer;}
.modal_title_label{font-weight: 500;}
.guide{font-size: 11px;}

/* button_area */
.modal_btn_area{width: 100%; margin-top: 70px;}
.buttonRow {width: 100%; display: flex;justify-content: space-between;align-items: center;}
.buttonRow button {font-size: 17px; padding: 0.5rem 1.2rem;border: none;border-radius: 4px;cursor: pointer;font-weight: 600;}

.backBtn {background: none;transition: 0.2s;}
.backBtn:hover {background: #777;color: #fff;transition: 0.2s;}
.createBtn{background: #c3ee41;color: #fff;transition: 0.2s;}
.createBtn:hover{background: #a9d033;transition: 0.2s;}


/* chat modal area  */
.modal_btn_chat{margin-top: 135px;}
.modal_input_chat{margin-top: 25px;}